h1{
    text-align: center;
    color: white;
    text-decoration: underline;
}
body {
    margin: 0;
    background-color:#0A004A; 
}

.container {
    display: flex;
    justify-content: space-around;
}

h3{
    text-align: center;
    color:white;
    font-size: 30px;
    margin-bottom: 10px;
}
p{
    text-align: center;
}

#home-score,#guest-score{
    border: 1px solid black;
    padding: 2px 20px;
    font-size: 80px;
    margin:0%;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL';
    background-color: black;
}

.add-1,.add-2,.add-3{
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 20%;
    color: #9AABD8;
    background-color:#0A004A;
    border-color: #9AABD8;
    font-size: 20px
}

.reset-btn{
    margin-left: 45%;
    margin-top: 5%;
    border-radius: 20%;
    color: #9AABD8;
    background-color:black;
    border-color: #9AABD8;
    font-size: 20px
    
}
h2{
    margin-left: 40%;
    margin-top: 30px;
    color: white;
}